{% extends 'knp_menu.html.twig' %}

{% block label %}
    {% if item.extra('img') is not null %}
        <img src="{{ item.extra('img') }}" class="img-rounded" style="width: 40px"/>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block item %}
    {% if item.extra('label') is not null %}
        <li class="pull-right"><strong style="padding: 10px 15px; position: relative; display: block;">{{ item.label }}</strong></li>
    {% elseif item.extra('connect') %}
        <li class="pull-right"><a class="login-button" href="{{ item.uri }}">{{ item.label }}</a></li>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}